$offset: 187;
$duration: 1.4s;

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

@keyframes colors {
  0% { stroke: #4285F4; }
  25% { stroke: #DE3E35; }
  50% { stroke: #F7C223; }
  75% { stroke: #1B9A59; }
  100% { stroke: #4285F4; }
}

@keyframes dash {
 0% { stroke-dashoffset: $offset; }
 50% {
   stroke-dashoffset: $offset/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $offset;
   transform:rotate(450deg);
 }
}

@mixin box-shadow($shadows) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin transition($animation){
	-webkit-transition: $animation;
  -moz-transition: $animation;
  -o-transition: $animation;
  transition: $animation;
}

.text-not-selectable{
	-webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */   
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/materialIcons-regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/materialIcons-regular.woff2) format('woff2'),
       url(../fonts/materialIcons-regular.woff) format('woff'),
       url(../fonts/materialIcons-regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 14px;  /* Preferred icon size */
  display: inline-block;
  width: 1rem;
  line-height: inherit;
  text-transform: none;
  letter-spacing: normal;
  vertical-align: middle;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
  padding-top: 87px;
  font-size: 14px;
}

.navbar-brand i {
  font-size: 24px;
  display: inline;
}

.table-responsive{
  overflow: visible;
}

.sort-button{
  cursor: pointer;
}

.dropdown-menu{
  min-width: 120px;
  padding: 0px;
}

.dropdown-menu li {
  padding: 4px 15px;
  line-height: 14px;

  &.divider{
    padding: 0px;
    margin: 0px;
  }
}

.dropdown-menu>li{
  background: #efefef;
}

.backdrop{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.1);
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;

  span{
    padding-left: 30px;
    font-weight: bold;
  }

  .spinner {
    animation: rotator $duration linear infinite;

    .path {
      stroke-dasharray: $offset;
      stroke-dashoffset: 0;
      transform-origin: center;
      animation:
        dash $duration ease-in-out infinite, 
        colors ($duration*4) ease-in-out infinite;
    }
  }
}

.pager{
  .previous, .next{
    padding: 0px 20px;
    cursor: pointer;

    >span, >a{
      float: none;
    }
  }
}